.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFD9D4;
}

.register-title {
    margin: 0 0 40px;
    font-size: 24px;
    font-weight: 700;
    color: #D14D72;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}