.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.title {
    font-size: 3rem;
    color: rgb(245, 131, 65);
    text-align: left;
    margin-left: 20px;
}