.infoData {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5em;
}

.charts {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.fall {
    color: red;
    font-weight: bold;
}

.normal {
    color: black;
    font-weight: bold;
}

.detail {
    font-size: 1.5em;
}

.abnormal {
    color: red;
}