.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.login-form-title {
  margin: 0 0 40px;
  font-size: 24px;
  font-weight: 700;
  color: #D14D72;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 300px;
}