.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #FFE4C4;
}

.dashboard-title {
  font-size: 3rem;
  margin: 0;
  color: #DC143C;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.map-container {
  width: 50%;
  height: 50vh;
  margin-right: 20px;
  box-sizing: border-box;
}

.table-container {
  width: 30%;
  height: 50vh;
  box-sizing: border-box;
}